header{
    align-items: center;
    background-color: rgb(182, 24, 24);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
  
}
header img{
    height: 30px;   
}
.tabelaf1 {
     border: 3px;
     border-width: 3px;
     border-style: solid;
     border-color:  rgb(216, 174, 174);
     background-color: white;
}

.titulof1 h1{
    text-align: center;
    font-size: 30px;
    flex-grow: 10px;

}
.logo-fia{
    font-size: 30px;
}
.tabelaf1 th{
    text-align: center;
    background-color: rgb(210, 41, 41);
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    width: 150px;
}

body{
    background-image: url(https://media.formula1.com/image/upload/t_16by9Centre/f_auto/q_auto/v1707821717/fom-website/2023/Miscellaneous/ferrari-sf-24-5.png.transform/9col/image.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}
.GP{
    border: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(216, 174, 174);
    background-color: white;
    display: inline-block;
    

}
.GP th{
    text-align: center;
    background-color: rgb(210, 41, 41);
    border-collapse: collapse;
    color: white;
    width: 130px;
    align-items: center;
}
.GP td{
    text-align: center;
}
h2{
    background-color: rgb(210, 41, 41);
    border: 9px;
    font-size: 22px;
    margin: 20px;
    width: 180px;
}

.parceriaformula1{
    width: 100%;
    border: 0;
}

.ptspiloto{
    border: 3px;
    border-width: 3px;
    border-style: solid;
    border-color:  rgb(216, 174, 174);
    background-color: white;
    display: inline-block;
    
}

.ptspiloto th{
    background-color: rgb(210, 41, 41);
    border-collapse: collapse;
    color: white;
    width: 150px;
}

.ptspiloto td{
    text-align: center;
}

.spe{
    border: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(216, 174, 174);
    background-color: white;
    display: inline-block;
    text-align: center;
    
}
.spe th{
    text-align: center;
    background-color: rgb(210, 41, 41);
    border-collapse: collapse;
    color: white;
    width: 230px;
    align-items: center;
}

.pontos{
    text-align: start;
}
.logodasmarcas{
    margin: 0 auto;
    height: 80px;
}
